.modal {
    position: fixed;
    // position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: $white;
    padding: 20px 30px;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    opacity: 1;
    margin: 0 auto;

    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s, left 0.3s ease;

    @include r($mobile-sm) {
        padding: 25px 15px 15px;
        height: 100vh;
        top: 50%;
        z-index: 25;
        max-width: 100%;
        left: -100%;
        border-radius: 0;
        overflow: auto;
        opacity: 1;
        visibility: visible;
    }

    &.active {
        opacity: 1;
        visibility: visible;

        // @include r($mobile-sm) {
        //     left: 50%;
        // }
    }

    &__box {
        margin-bottom: 20px;
    }

    &__enter {
        display: block;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .social {
    
        @include r($mobile-sm) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        &__item {
    
            @include r($mobile-sm) {
                max-width: 45%;
                width: 100%;
            }
            
            &:not(:last-child) {
    
                @include r($mobile-sm) {
                    margin-right: 0;
                }
            }
    
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 10px;
            }
        }
    
        &__link {
    
            &--google {
                background-size: 35%;
                background-color: $yellow;
    
                @include r($mobile-sm) {
                    background-size: 20%;
                }
            }
    
            &--facebook {
                background-size: 12%;
                background-color: $blue;
    
                @include r($mobile-sm) {
                    background-size: 7%;
                }
            }
    
            &--twitter {
                background-size: 25%;
                background-color: $blue-100;
    
                @include r($mobile-sm) {
                    background-size: 15%;
                }
            }
    
            &--instagram {
                background-size: 25%;
                background-color: $red-100;
    
                @include r($mobile-sm) {
                    background-size: 14%;
                }
            }

            svg {
                display: none;
            }
        }
    }
}

.btns-tabs {
    display: flex;
    margin-bottom: 30px;

    @include r($mobile-sm) {
        margin-bottom: 20px;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__btn {
        font-size: 24px;
        font-weight: 500;
        color: $gray;
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        transition: color 0.4s, border-bottom-color 0.4s;

        &.active {
            color: $red;
            pointer-events: none;
            border-bottom-color: $black;
        }

        &:focus {
            outline: transparent;
            border-bottom-color: $black;
        }

        &:hover {
            color: $black;
            border-bottom-color: $red;
        }
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include r($mobile-sm) {
        margin-bottom: 20px;
    }

    // &__item {

    //     &--register,
    //     &--enter {
    //         // display: none;
    //         opacity: 0;
    //         visibility: hidden;


    //         &.active {
    //             // display: block;
    //             opacity: 1;
    //             visibility: visible;
    //         }
    //     }
    // }

    &__top {
        margin-bottom: 25px;

        @include r($mobile-sm) {
            margin-bottom: 15px;
        }
    }

    &__wrapper,
    &__top {
        display: flex;
    }

    &__wrapper {
        align-items: center;
        position: relative;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__checkbox-input {

        &:checked {

            &+.checkbox-custom {
                background-color: $green;

                span{
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper-box {
        display: flex;
        position: relative;

        @include r($mobile-sm) {
            align-items: center;
        }


        .checkbox-custom {
            max-width: 15px;
            width: 100%;
        }

        .modal-form__label {
            font-size: 12px !important;
            line-height: 1.5;

            @include r($mobile-sm) {
                color: $red;
            }

            a {
                font-size: 12px;
                color: $black;
                border-bottom: 1px solid $black;
                transition: border-bottom-color 0.4s;

                &:focus,
                &:hover {
                    outline: transparent;
                    border-bottom-color: $red;
                }
            }
        }
    }

    &__label {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        z-index: 5;
        padding-left: 25px;
        cursor: pointer;
        transition: color 0.4s, border-bottom-color 0.4s;

        &:hover {
            color: $red;
        }
    }

    &__input {
        border: 1px solid $gray;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 300;
        padding: 15px;
        margin-bottom: 15px;
    }

    &__btn {
        background-color: $black;
        color: $white;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;

        &:active {
            background-color: $red-200;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .modal-form__link,
        .modal-form__label {
            font-weight: 400;
            font-size: 16px;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.4s;

        &:focus,
        &:hover {
            outline: transparent;
            border-bottom-color: $black;
        }
    }
}

