.forgotten-password {
    height: 800px;

    @include r($screen-xl) {
        padding-bottom: 75px;
    }
    
    &__bg {
        background-image: url(../../assets/images/content/contact-bg.svg);
        margin-top: -50px;
        background-size: cover;
        height: 950px;
        max-width: 100%;
        width: 100%;
        position: absolute;
        background-position: center;
        z-index: -1;

        @include r($mobile-lg) {
            min-height: 610px;
        }

        @include r($mobile-md) {
            min-height: 550px;
        }
    }

    &__inner {
        display: flex;

        @include r($mobile-lg) {
            justify-content: center;
            align-items: center;
        }

        @include r($mobile-md) {
            height: calc(100vh - 200px);
            min-height: 350px;
        }
    }

    &__title {
        margin-bottom: 50px;

        @include r($mobile-md) {
            margin-bottom: 30px;
        }
    }

    &__box {
        display: block;
        max-width: 515px;
        width: 100%;
        padding-top: 200px;
        margin-right: 200px;

        @include r($screen-xxl) {
            margin-right: 70px;
        }

        @include r($mobile-lg) {
            margin-right: 0px;
            padding-top: 0px;
        }

        div {
            margin-bottom: 70px;

            @include r($mobile-sm) {
                margin-bottom: 40px;
            }

            p {
                font-weight: 300;
                line-height: 1.7;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        border: 1px solid $gray;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 300;
        padding: 15px;
        margin-bottom: 20px;
    }

    &__btn {
        padding: 15px 50px 16px;
        margin-bottom: 0;
    }

    &__img {
        width: 100%;
        height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center left;

        @include r($screen-xl) {
            background-size: contain;
        }

        @include r($mobile-lg) {
            display: none;
        }
    }
}