.authors-works {
    max-width: 1295px;
    width: 100%;

    &__img-wrapper {
        position: relative;
        margin-right: 100px;
    }

    &__img {
        height: 400px;
        max-width: 300px;
        object-fit: cover;
        border-radius: 20px;
        position: relative;
        z-index: 5;

        &--blur {
            position: absolute;
            left: 10px;
            top: 20px;
            z-index: 0;
            filter: blur(10px);
            box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.5);
        }
    }

    &__img-box {
        margin-bottom: 50px;
    }

    &__content {
        // max-width: 1370px;
        // width: 100%;
        // display: flex;
        // justify-content: space-between;
        padding-top: 30px;
        margin-bottom: 100px;
        padding-top: 60px;

        div:last-child {
            flex-direction: column;
            // justify-content: space-between;
            // margin-bottom: 0;

            blockquote {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 50px;

                p {
                    margin-bottom: 40px;
                }
            }

            h2 {
                margin-bottom: 30px;
            }

            p {
                line-height: 1.4;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        .cards-list {
            margin-bottom: 50px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 425px;
            // grid-template-rows: repeat(3, 1fr);
            // grid-column-gap: 20px;
            // grid-row-gap: 20px;
        }

        .painting-card {
            border-radius: 20px;

            &:hover {
                background-color: $gray-300;
            }

            &__box {
                padding: 0 !important;
            }

            &__wrapper {
                margin-bottom: 0;
                padding: 5px 20px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__inner {
        display: flex;
        margin-bottom: 100px;
    }

    &__box {
        max-width: 700px;
        width: 100%;
        padding-top: 70px;
        column-count: 2;

        span {
            display: block;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        .authors-works__btn {
            padding: 12px 30px;
            width: 70%;

            span {
                display: inline;
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }

    &__btn {
        padding: 12px 50px;
        width: 100%;
    }

    &__name {
        font-weight: 700;
        font-size: 25px;
    }

    &__link {
        border-bottom: 1px solid transparent;
        padding-bottom: 3px;
        transition: color 0.3s, border-color 0.3s;

        &:hover {
            border-color: $red;
            color: $red;
        }
    }

    &__span {
        transition: color 0.3s;

        &:hover {
            color: $red;
        }
    }
}

.about-author {

    &__inner {
        display: flex;
        justify-content: space-between;
        // max-width: 1370px;
        // width: 100%;
    }

    &__aside {
        max-width: 280px;
        width: 100%;
        padding-top: 60px;
        margin-right: 100px;
    }
}

.authors-items {

    &__list {
        max-width: 280px;
        width: 100%;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        padding: 13px 50px 12px;
        width: 100%;
    }
}

.reviews {

    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.user {
    display: flex;
    align-items: center;
    
    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 30px;
    }

    span {
        display: block;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
    }
}