.hero {
    transition: filter 0.2s;

    &.active {
        filter: blur(10px);
    }
    
    @include r($mobile-xl) {
        padding-bottom: 50px;
    }

    @include r($mobile-md) {
        padding-bottom: 30px;
    }
    
    .container {
        position: relative;
    }

    &__circle {
        position: absolute;
        width: 470px;
        z-index: 1;
        height: 70vh;
        left: 300px;
        top: -50px;
        background-image: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

        @include r($screen-xxl) {
            width: 100%;
            left: -20%;
        }

        @include r($screen-xl) {
            top: 250px;
        }

        @include r($mobile-lg) {
            top: 80px;
        }

        @include r($mobile-md) {
            top: 100px;
        }

        @include r($mobile-sm) {
            left: -15%;
        }
    }

    &__scroll {
        position: absolute;
        left: -35px;
        top: 300px;
        color: $gray-100;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        transform: rotate(-90deg);

        @include r($screen-xxl) {
            top: -100px;
        }

        @include r($screen-xl) {
            display: none;
        }

        span {
            position: absolute;
            background-image: url(../../assets/images/content/scroll-down-icon.svg);
            width: 70px;
            height: 70px;
            left: -90px;
            top: 2px;
            transform: rotate(90deg);
            background-repeat: no-repeat;
        }
    }

    &__sliders {
        height: 850px;
        position: relative;
        top: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        @include r($screen-xl) {
            padding-top: 84px;
            height: 920px;
        }

        @include r($mobile-sm) {
            padding-top: 130px;
        }
    }

    &__pick-slider {
        padding-left: 27%;

        @include r($screen-xxl) {
            padding-left: 0;
            display: flex;
            justify-content: flex-end;
        }

        @include r($screen-xl) {
            justify-content: center;
        }

        .slick-list {
            height: 600px;

            @include r($screen-xxl) {
                max-width: 1050px;
            }

            @include r($mobile-xl) {
                max-width: 100%;
                height: 58vh;
            }

            @include r($mobile-md) {
                height: 58vh;
            }

            @include r($mobile-sm) {
                height: 63vh;
            }
        }

        .hero__item {
            position: relative;
            max-width: 100%;

            img {
                position: relative;
                z-index: 10;
                border-radius: 20px;
                object-fit: cover;

                @include r($mobile-xl) {
                    height: 58vh;
                }

                @include r($mobile-sm) {
                    height: 60vh;
                }
            }
        }
    }

    &__img-blur {
        left: 50px;

        @include r($screen-xl) {
            width: 800px;
        }

        @include r($mobile-xl) {
            display: none;
        }
    }

    &__content-slider {
        z-index: 2;
        max-width: 1425px;
        width: 100%;
        margin: -520px auto 0;
        padding-left: 15px;

        @include r($screen-xl) {
            margin-top: -170px;
        }

        @include r($mobile-xl) {
            margin-top: -110px;
        }

        @include r($mobile-md) {
            margin-top: -90px;
        }

        @include r($mobile-sm) {
            margin-top: -50px;
            padding: 0 15px;
        }

        .hero__item {
            max-width: auto;
        }

        .slick-list {
            height: 458px;

            @include r($mobile-md) {
                height: 400px;
            }
        }
    }

    .pick-card {
        display: flex;
        flex-direction: column;
        position: relative;

        &__author,
        &__title,
        &__id {
            @include line-clamp(1);
        }

        &__title {
            font-weight: 400;
            font-family: $journalism;
            font-size: 106px;
            letter-spacing: -0.1rem;
            margin-bottom: 20px;

            @include r($mobile-xl) {
                padding: 0 0 0 15px;
            }

            @include r($mobile-lg) {
                font-size: 100px;
            }

            @include r($mobile-md) {
                font-size: 76px;
                padding: 0 15px;
            }

            @include r($mobile-sm) {
                font-size: 40px;
            }
        }

        &__id {
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: 0rem;
            max-width: 350px;
            word-break: break-all;
        }

        &__wrapper {
            border-top-right-radius: 10px;
        }

        &__material,
        &__wrapper {
            display: flex;
            font-weight: 300;
            color: $gray-100;
            line-height: 1.8;
            letter-spacing: 0.01rem;
            background-color: $white;
            max-width: 350px;

            span {
                margin-right: 5px;
            }
        }

        &__author {
            border-bottom: 1px solid transparent;
            transition: border-bottom-color 0.4s, color 0.4s;

            &:hover {
                border-bottom-color: $red;
                color: $black;
            }

            &:focus {
                outline-color: transparent;
                border-bottom-color: $red;
            }
        }

        &__material {
            margin-bottom: 45px;
            border-bottom-right-radius: 10px;
            @include line-clamp(1);

            @include r($mobile-md) {
                margin-bottom: 20px;
            }
        }

        &__box {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding-left: 3px;

            @include r($mobile-md) {
                margin-bottom: 30px;
            }

            @include r($mobile-sm) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }

        &__btn {
            padding: 20px 55px 18px;
            margin-right: 135px;

            @include r($mobile-md) {
                margin-right: 50px;
            }

            @include r($mobile-sm) {
                margin-right: 0;
            }
        }

        &__price {
            font-size: 72px;
            color: $white;
            border-radius: 10px;
            padding: 17px 55px 18px 65px;
            background-color: rgba(0, 0, 0, 0.8);
            box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5), inset -1px 1px 1px rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            position: relative;

            @include r($mobile-md) {
                font-size: 50px;
            }

            @include r($mobile-sm) {
                font-size: 25px;
                margin-bottom: 20px;
                padding: 15px 30px 15px 40px;
            }

            span {
                font-weight: 700;
                font-size: 24px;
                position: absolute;
                left: 42px;
                top: 28px;

                @include r($mobile-md) {
                    top: 20px;
                    font-size: 20px;
                }

                @include r($mobile-sm) {
                    top: 15px;
                    font-size: 16px;
                    left: 20px;
                }
            }
        }

        &__dots {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 14px;
            font-family: $roboto;
            max-width: 225px;
            width: 100%;
            position: absolute;
            bottom: -22px;
            left: 120px;

            @include r($mobile-lg) {
                bottom: -30px;
            }

            @include r($mobile-md) {
                bottom: -22px;
            }

            @include r($mobile-sm) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__num {
            background-color: $white;
            border-radius: 50%;
        }
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    left: -470px;
    bottom: 0px !important;
    z-index: -1;

    @include r($mobile-md) {
        bottom: 28px;
    }

    @include r($mobile-sm) {
        left: 50%;
        transform: translateX(-50%);
    }

    li {
        font-size: 0;
        margin: 0;
        width: 10px;
    }

    button {
        border: none;
        padding: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $gray;
        transition: background-color 0.4s;

        // &:focus,
        // &:hover {
        //     // background-color: $red;
        //     transform: scale(1.5);
        // }
    }
}

.slick-active button {
    // background-color: $red;
    transform: scale(1.5);

    // &:hover {
    //     background-color: $black;
    // }
}