.creations-details {

    &__info {
        margin-bottom: 145px;

        @include r($mobile-xl) {
            margin-bottom: 90px;
        }

        @include r($mobile-md) {
            margin-bottom: 50px;
        }
    }

    &__tabs {
        padding-bottom: 80px;

        @include r($mobile-xl) {
            padding-bottom: 50px;
        }

        @include r($mobile-md) {
            padding-bottom: 30px;
        }
    }

    &__list {
        border-top: 1px solid $gray;
        padding-top: 45px;
        position: relative;

        @include r($mobile-md) {
            padding-top: 30px;
        }

        @include r($mobile-sm) {
            border-top: none;
        }
    }

    &__item {

        div {
            max-width: 1170px;
            width: 100%;

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.9;

                &:first-child {
                    padding-top: 5px;
                }

                &:not(:last-child) {
                    margin-bottom: 30px;

                    @include r($mobile-md) {
                        margin-bottom: 20px;
                        ;
                    }
                }
            }
        }

        &--charact,
        &--descr {
            display: flex;

            @include r($mobile-md) {
                flex-direction: column;
                align-items: center;
            }
        }

        &--descr {
            margin-bottom: 0;
        }


        &--descr,
        &--charact {

            .block-section {
                justify-content: flex-start;
                max-width: 500px;
                margin-right: 100px;
            }

            .block {
                width: 100%;

                @include r($mobile-md) {
                    margin: 0 0 20px;
                }

                &__item {

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }

            div {
                max-width: 1000px;
                width: 100%;

                @include r($mobile-md) {
                    max-width: 600px;
                }
            }
        }

        &--guarant,
        &--delivery {
            display: flex;
            justify-content: center;

            @include r($mobile-lg) {
                flex-direction: column;
            }

            img {
                margin-right: 80px;

                @include r($screen-xl) {
                    margin-right: 30px;
                }

                @include r($mobile-lg) {
                    margin: 0 0 15px;
                }
            }

            div {
                max-width: 1000px;

                @include r($mobile-md) {
                    max-width: 600px;
                }

                p {

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    &__item {
        display: flex;
        // justify-content: space-between;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 45px;
        left: -25%;
        transition: left 0.7s ease-out, opacity 0.3s ease-in, visibility 0.5s;

        &.active {
            opacity: 1;
            visibility: visible;
            position: relative;
            top: 0;
            left: 0;

            img {
                margin-right: 100px;
            }
        }

        .block-section {
            margin-bottom: 0;
            max-width: 560px;
            margin-right: 50px;
        }
    }

    .author-card {
        max-width: 450px;
        width: 100%;
        padding: 5px;
        height: 100%;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 20px;

        @include r($mobile-md) {
            margin: 0 0 20px;
        }

        @include r($mobile-sm) {
            flex-direction: column;
            padding: 10px 5px;
        }

        &__img-link {
            margin-right: 30px;
            height: 122px;
            max-width: 122px;
            width: 100%;

            @include r($mobile-lg) {
                margin-right: 15px;
            }

            @include r($mobile-sm) {
                margin: 0 auto 10px;
                max-width: 100%;
                height: 100%;
            }

            img {
                height: 100%;

                @include r($mobile-sm) {
                    width: 400px;
                    height: 300px;
                }
            }
        }

        &__box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @include r($mobile-sm) {
                align-items: center;
            }
        }

        &__user {
            font-weight: 500;
            font-size: 18px;
        }

        &__link {
            margin: 0 0 auto;
            display: inline-block;
            padding: 0;
            margin-bottom: 10px;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 1px solid transparent;
            transition: border-bottom-color 0.4s;

            &:focus,
            &:hover {
                color: $red;
                border-bottom-color: $black;
            }
        }
    }
}


.recent-watched,
.similar-paintings,
.others-creation {
    margin-bottom: 110px;

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));

        .painting-card {
            transition: box-shadow 0.4s;

            &:hover {
                box-shadow: 3px 5px 10px -2px rgba(0, 0, 0, 0.5);
            }

            &__buy {
                box-shadow: 3px 10px 10px -2px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.others-creation {

    @include r($mobile-lg) {
        margin-bottom: 150px;
    }

    @include r($mobile-md) {
        margin-bottom: 140px;
    }
}

.similar-paintings {
    background-color: $gray-300;
    padding-bottom: 10px;
    margin-bottom: 90px;

    @include r($mobile-md) {
        margin-bottom: 70px;
    }

    &__list,
    &__title {
        position: relative;
        top: -25px;
        margin-bottom: 5px;
    }
}

.recent-watched {
    margin-bottom: 120px;
}