.user-account {
    margin-bottom: 100px;
    padding-top: 60px;

    &__inner {
        display: flex;
    }

    &__info {

        &--wrapper {
            flex-direction: column;
        }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
        margin-right: 100px;
    }

    &__content {
        display: flex;
        margin-bottom: 70px;
    }

    &__box-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 70px;
    }

    &__img-wrapper {
        position: relative;
        width: 290px;
        height: 400px;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    &__img {
        width: 290px;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;

        &--blur {
            position: absolute;
            left: 10px;
            top: 15px;
            filter: blur(10px);
            z-index: -1;
        }
    }

    &__btn-edit {
        margin-top: 50px;
        padding: 13px 80px 12px;
        width: 100%;
        background-color: $black;
        color: $white;
        position: relative;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: $red;
        }

        svg {
            position: absolute;
            fill: $white;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.btns {

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        padding: 13px 30px 12px;
        width: 100%;
    }
}

.user-info {
    width: 800px;
    padding-top: 70px;
    column-count: 2;
}

.user-info__item {
    display: block;
    font-weight: 900;
    font-size: 20px;

    &:not(:last-child) {
        margin-bottom: 50px;
    }

    span {
        font-weight: 500;
        word-break: break-all;
    }
}

.user-edit {
    // display: flex;
    // column-count: 1;
    // display: block;
    // margin-bottom: 100px;

    &__content {
        display: flex;
        position: relative;
        // margin-bottom: 50px;
    }

    &__box {
        margin-bottom: 70px;
        width: 290px;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 22px;
    }

    &__img {
        object-fit: cover;
        border-radius: 20px;
        position: relative;
        z-index: 5;

        &--blur {
            position: absolute;
            left: 10px;
            top: 10px;
            filter: blur(10px);
            z-index: 0;
        }
    }

    &__wrapper {
        margin-right: 70px;

        &--btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // position: relative;
        }
    }

    &__list {
        // column-count: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 60px);
        column-gap: 50px;
        row-gap: 30px;
        margin-bottom: 50px;
        align-content: center;
    }

    &__item {
        width: 400px;
        height: 50px;
        position: relative;
    }

    &__star {
        position: absolute;
        right: 0px;
        top: -20px;
        font-size: 30px;
        color: $red;
        display: flex;

        &--warning {
            bottom: 50px;
            top: auto;

            span {
                font-size: 18px;
                padding-left: 10px;
            }
        }
    }

    &__label {
        font-size: 14px;
        background-color: $white;
        position: absolute;
        top: -7px;
        left: 20px;
        padding: 0 3px;
        color: $red;

        &--img {
            height: 0;
            width: 0px;
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__img-btn {
        position: absolute;
        text-align: center;
        padding: 13px 10px 12px;
        cursor: pointer;
        width: 140px;
    }

    &__input {
        padding: 13px 20px 12px;
        border: 1px solid $gray;
        border-radius: 5px;
        width: 100%;
        height: 100%;

        &--img {
            // width: 100%;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 0;
            height: 0;
        }
    }

    &__box-btn {
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        padding: 13px 50px 12px;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &--save {
            background-color: $black;
            color: $white;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $red;
            }
        }
    }


}